# Python 관련 임시 파일
__pycache__/
*.pyc

# SQLite 데이터베이스 파일 (데이터 저장용 파일은 깃에 올리지 않음)
data/robot_system.db
*.db

# ROS2 빌드 및 로그 관련 폴더 (협업 시 각자 빌드해야 함)
src/robot_ws/build/
src/robot_ws/install/
src/robot_ws/log/

# 가상환경 및 OS 임시 파일
.venv/
venv/
.DS_Store